body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  padding: 0 10px 0 10px;
  background-color: #B7C8DA;
}

figcaption {
  font-size: 85%;
  text-align: center;
}

#featured-property {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#details {
  display: block;
  text-align: center;
  width: 100%;
  background-color: red;
  float: left;
}

#details > div{
  float: left;
  text-align: center;
  width: 25%;
}
